<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
	  <!--<add name="EDBCORAHEntities" connectionString="metadata=res://*/Modelo.Mantenimiento.csdl|res://*/Modelo.Mantenimiento.ssdl|res://*/Modelo.Mantenimiento.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5052.site4now.net;Initial Catalog=db_aa4492_bdcorners;User Id=db_aa4492_bdcorners_admin;Password=marzo1pi_3;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\bdCorners.mdf;Initial Catalog=bdCorners;Integrated Security=True" providerName="System.Data.SqlClient"/>
	  -->
	  <add name="EDBCORAHEntities" connectionString="metadata=res://*/Modelo.Mantenimiento.csdl|res://*/Modelo.Mantenimiento.ssdl|res://*/Modelo.Mantenimiento.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=37.60.231.218;Initial Catalog=bdSgpTest;User Id=sa;Password=b5Fp8mb**Mtr3qh7;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="PredeterminadoContenedorIoC" value="ContextoRaiz" />
    <add key="conexion" value="Data Source=37.60.231.218;Initial Catalog=bdSgpTest;User Id=sa;Password=b5Fp8mb**Mtr3qh7;" />
    <add key="token" value="TEST-2174303239997787-030809-ee367e78c585309632694b08ffa87a4a-198275440" />
    <!-- TEST-4680796188435630-030120-afca596ac8f7aaf70502487a5622ce4b-170966042 -->
    <add key="publicKey" value="TEST-dd9fee98-0781-480e-8337-a6c790b717c8" />
    <!--//TEST-70ca2977-dd02-4756-8d92-6460de1b3eac-->
    <add key="secret" value="EH50GuOBoTwRWfeSFDPYUEaNBYoiofMwbDKicIX56EtAXExvUmq0ewM6xfq7pWljQfUbYwDdNdF7kt5X" />
    <add key="clientID" value="AbMK6TxfYBfl9CPWnZTZBAVL9OjKtUAZ2ckg3lyqsoJ09HWG54vHrN-m9y2WtrPHWrQLXAGdACb2K4qR" />
    <add key="owin:AppStartup" value="false" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="webpages :Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="urlServicio" value="http://localhost:56688/api/" />
    <add key="baseUrl" value="http://localhost:21508/" />
    <add key="esCustomer" value="0" />
    <add key="esMultiEmpresa" value="0" />
    <add key="idOrganizacion" value="0" />
    <!--<add key="baseUrl" value="http://localhost:26518/"/>-->
    <add key="idEmpresa" value="82" />
    <add key="rutaArchivoFirma" value="C:\Comprobante" />
    <add key="nombreFirmaBeta" value="FIRMABETA" />
    <add key="tipoProceso" value="3" />
    <add key="leftFooter" value="2061" />
    <add key="centerFooter" value="2062" />
    <add key="rightFooter" value="2063" />
    <add key="themePage" value="philos" />
    <add key="rutaArchivo" value="D:\RutaArchivo\" />
    <add key="public_key_culqi" value="pk_test_AOWI2wgvIQGEz0Ft" />
    <add key="secret_key_culqi" value="sk_test_lIUWgvlxtPEwMnbp" />
    <!-- Datos Smtp-->
    <add key="correoFrom" value="info@codetus.com" />
    <add key="hostSmtp" value="smtp.gmail.com" />
    <add key="passSmtp" value="Marzo1pi@20" />
    <add key="empresa" value="ZICCA" />
    <!-- Datos facturación electrónica -->
    <add key="razonSocial" value="GRUPO DEL PRADO SAC" />
    <add key="nombreComercial" value="GRUPO DEL PRADO SAC" />
    <add key="nroDocumento" value="20477456597" />
    <add key="usuarioSOL" value="DELPRADO" />
    <add key="claveSOL" value="Delprado2" />
    <add key="contraFirma" value="123456" />
    <add key="codPais" value="PE" />
    <add key="codUbigeo" value="250101" />
    <add key="direccion" value="JR. LUMBRERAS MZA. A LOTE. 27 (ENTRANDO POR LA EX CASA BLANCA) UCAYALI - CORONEL PORTILLO - YARINACOCHA" />
    <add key="distrito" value="CALLERIA" />
    <add key="departamento" value="UCAYALI" />
    <add key="provincia" value="CORONEL PORTILLO" />
    <add key="tipoDoc" value="6" />
    <add key="paramLenguaje" value="es-PE" />
    <add key="tokenWhatsApp" value="fd0d7d6c0c058146b2367ff9a1b41471c43a3716b73a2ecaabc393042ca6d97538a7b10293bed24f" />
    <!-- para el caso donde idEmpresa es CERO, es un sistema con multiempresa  -->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2"/>
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <sessionState mode="InProc" timeout="30" />
    <globalization culture="es-PE" uiCulture="es-PE" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>